* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: .2s linear;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

header {
	height: 90px;
	/*position: fixed;*/
	width: 1280px;
	height: 90px;
	top: 0;
	left: 0;
	right: 0;
	background: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .brand {
	color: #FFFF;
	font-weight: bolder;
	margin-left: 41px;
}

header .navbar {}

header .navbar a {
	padding: 0 1.5rem;
	color: #FFFFFF;
	opacity: 78%;
}

header .volume {
	display: flex;
	align-items: center;
	margin-right: 54px;
}

.music1 {
	background: url(../images/ablumBG4.png) no-repeat center/cover;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 1280px;
	height: 690px;
}

.albums {
	width: 604px;
	height: 406px;

	position: relative;
}

.albums .cover,
.albums .cd {
	position: absolute;
	top: 0;
	left: 0;
}

.cover,
.cover img {
	width: 406px;
	height: 406px;
}

.albums .cd,
.albums .cd img {
	width: 354px;
	height: 354px;
}

.albums .cover {
	z-index: 2;
}

.albums .cd {
	margin-left: 249px;
	margin-top: 26px;
}


.control {
	width: 257px;
	height: 112px;
}


.music2 {
	background: url(../images/ablumBG5.png) no-repeat center/cover;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 1280px;
	height: 690px;
}

.music3 {
	background: url(../images/ablumBG6.png) no-repeat center/cover;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 1280px;
	height: 690px;
}

.footer {
	background: url(../images/footerBG.png);
	width: 1280px;
	height: 455px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.footer p {
	width: 140px;
	height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.07em;

	margin-left: 16px;
	margin-right: 16px;

	color: #010101;
}

.footer .next {
	position: absolute;
	top: 378px;
	left: 1202px;
}